@use "../../scss/globals.scss";

.settings-behavior {
  display: flex;
  flex-direction: column;
  gap: calc(globals.$spacing-unit * 2);

  &__section-title {
    margin: 0;
    margin-top: calc(globals.$spacing-unit);
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.4);
  }

  &__section-description {
    font-size: 13px;
    color: globals.$muted-color;
    margin: 0;
    margin-top: calc(globals.$spacing-unit * -1);
  }

  &__section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: globals.$spacing-unit * 2;
  }

  &__checkbox-container {
    opacity: globals.$disabled-opacity;
    cursor: not-allowed;

    &--enabled {
      opacity: 1;
      cursor: pointer;
    }

    &--with-tooltip {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }

    &--tooltip {
      cursor: pointer;
    }
  }
}
