@use "../../scss/globals.scss";

.settings {
  &__container {
    padding: 24px;
    width: 100%;
    display: flex;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__tabs {
    display: flex;
    gap: calc(globals.$spacing-unit);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
  }

  &__tab-wrapper {
    position: relative;
  }

  &__tab {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    padding: calc(globals.$spacing-unit) calc(globals.$spacing-unit * 2);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: color ease 0.2s;
    display: flex;
    align-items: center;
    gap: calc(globals.$spacing-unit * 0.5);

    &--active {
      color: white;
    }
  }

  &__tab-underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background: white;
  }

  &__tab-content {
    padding-top: calc(globals.$spacing-unit * 3);
  }
}
