@use "../../../scss/globals.scss";

.recent-games {
  &__box {
    padding: calc(globals.$spacing-unit * 2);
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-unit;
  }

  &__list-item {
    display: flex;
    cursor: pointer;
    transition: all ease 0.15s;
    color: globals.$muted-color;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    padding: calc(globals.$spacing-unit * 0.75) globals.$spacing-unit;
    gap: calc(globals.$spacing-unit * 1.5);
    align-items: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.06);
      text-decoration: none;
    }
  }

  &__game-image {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    object-fit: cover;
    flex-shrink: 0;
  }

  &__game-details {
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: hidden;
  }

  &__game-title {
    font-size: 0.8rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__game-description {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: calc(globals.$spacing-unit * 0.75);
    color: rgba(255, 255, 255, 0.5);
  }
}
